
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/aboutUs.css" />
    <link rel="shortcut icon" href="/images/aboutUsIcon.png">
    <title>Rescue Paws - About Us</title>

</head>

<body>

    <h2 style="margin-top: 80px; margin-bottom: 40px; margin-left: 50px; font-weight: bolder; background-color: rgb(216, 216, 216); border-radius: 10px; height: auto; width: 170px;">Meet us :)</h2>

    <div class="container-fluid">
        <p style="float: left;"><img src="/images/lavi.png" style="margin-right: 10px;" height="300px" width="200px" border="2px"></p>
        <p>My name is Durac Maria-Lavinia. I am 21 and I love animals very much, especially dogs.</p>
        <p>I grew up on the country side with lots of animals.</p>
        <p>I always had this idea of dream in the back of my mind for the future, the idea of saving the animals and I knew that some day my dream would come true.</p>
        <p>
            I couldn't do it alone so I needed another animal lover like me, my friend, Tupi. We rescued a lot of animals from death and hunger and took care of other people's animals while they were on vacation (I has this idea while thinking what to do
            with my dogs while I'll be gone on vacation).
        </p>
    </div>
    <div class="container-fluid" style="clear: left;">
        <p style="float: left;"><img src="/images/tupi.png" style="margin-right: 10px;" height="300px" width="200px" border="2px"></p><br>
        <p>My name is Tupea Andrei Cristian. I am 21, I love animals, especially cats.</p>
        <p>I always had animals growing up, even now I got a very cute kitten at my grandma's that I visit weekly.</p>
        <p>I always knew I had to do something to help these fragile and beautiful souls and to teach people about sterilization and adoption.</p>
    </div>
    <br>
    <br><br>

    <div class="container-fluid" style="margin-top: 100px;">
        <h2 style="margin-left: 40px; font-weight: bolder; background-color: rgb(216, 216, 216); border-radius: 10px; height: auto; width: 500px;">How it is to help on a daily basis</h2>
        <p>
            It is indeed a hard work. To get dirty (with puss, feces, sometimes blood), to hold the heavy dogs, to see how injured some of them are, to spend the night holding a dog's or a cat's paw just to make sure they feel loved and safe, to sleep on
            the floor next to them, to scare them by doing nothing, or by speaking too loud and comforting them afterwards...
        </p>
        <p>To some it sounds impossible, but when you see how happy the animals are after you rescue them, it just makes your heart full.</p>
        <p>It is totally worth it!</p>
    </div>

    <div>
        <h2 style="margin-top: 50px; margin-bottom: 20px; margin-left: 50px; font-weight: bolder; background-color: rgb(216, 216, 216); border-radius: 10px; height: auto; width: 280px;">How we help</h2>
        <br>
        <ul>
            <li>We offer food and life saving vaccination.</li>
            <li>We offer spay/neuter surgeries.</li>
            <li>We take care of special cases that need costly veterinary treatment and/or hospitalization.</li>
            <li>We take care of the transport to the vet clinic.</li>
            <li>We take care of your animals while you are on vacation.</li>
        </ul>
    </div>
    <br>
    <div>
        <h2 style="margin-top: 40px; margin-bottom: 20px; margin-left: 50px; font-weight: bolder; background-color: rgb(216, 216, 216); border-radius: 10px; height: auto; width: 300px;">How you can help</h2>
        <br>
        <ul>
            <li>Donate</li>
            <li>Adopt</li>
        </ul>
    </div>






</body>

</html>

